* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}


button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  background: #00179b;
  color: white;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #df6d02;
}